################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Code_Libraries/Auto_Restore_DB_From_CSVs/Solution/VCDM2.Data.Excel/obj/Debug
/Code_Libraries/Auto_Restore_DB_From_CSVs/Solution/VCDM2.Utility/obj/Debug
/Code_Libraries/Auto_Restore_DB_From_CSVs/Solution/VDDM2.CLI/obj/Debug
/Code_Libraries/Auto_Restore_DB_From_CSVs/Solution/VCDM2.Data.Excel/bin/Debug
/Code_Libraries/Auto_Restore_DB_From_CSVs/Solution/VCDM2.Utility/bin/Debug
/Code_Libraries/Auto_Restore_DB_From_CSVs/Solution/VDDM2.CLI/bin/Debug

#Google credentia;
google-sheets-4f0fcdc59c49.json
*.log
*.db
*.ini
s3_connection_string.py
.idea
*.zip
*.csv
*.json
*.doc
*.docx
*.pdf
*.odt
*.rtf
*.msg
*.rar
*.7z
*.xlsx
*.png
*.jpg
*.jpeg
_DS_Store