USE [BULLHORN6931]
GO
/****** Object:  Table [dbo].[tmp_country]    Script Date: 12/22/2016 11:34:12 AM ******/
DROP TABLE [dbo].[tmp_country]
GO
/****** Object:  Table [dbo].[tmp_country]    Script Date: 12/22/2016 11:34:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tmp_country](
	[COUNTRY] [varchar](50) NULL,
	[ABBREVIATION] [varchar](50) NULL,
	[CODE] [varchar](50) NULL
) ON [BULLHORN_DATA]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tmp_country] ([COUNTRY], [ABBREVIATION], [CODE]) VALUES (N'United States', N'US', N'1')
INSERT [dbo].[tmp_country] ([COUNTRY], [ABBREVIATION], [CODE]) VALUES (N'Afghanistan', N'AF', N'2185')
INSERT [dbo].[tmp_country] ([COUNTRY], [ABBREVIATION], [CODE]) VALUES (N'Albania', N'AL', N'2186')
GO
