/****** Object:  Table [dbo].[VCCountries]    Script Date: 9/24/2018 11:55:03 AM ******/
DROP TABLE IF EXISTS [dbo].[VCCountries]
GO
/****** Object:  Table [dbo].[VCCountries]    Script Date: 9/24/2018 11:55:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VCCountries](
	[Name] [varchar](max) NOT NULL,
	[Code] [varchar](2) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[VCCountries] ([Name], [Code]) VALUES (N'Vatican City State', N'VA')
INSERT [dbo].[VCCountries] ([Name], [Code]) VALUES (N'French Guiana', N'GF')
INSERT [dbo].[VCCountries] ([Name], [Code]) VALUES (N'Congo', N'CG')
GO
