USE [Zitko]
GO
/****** Object:  Table [dbo].[Primary_Recruiter_Payout]    Script Date: 11/5/2018 10:11:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Primary_Recruiter_Payout](
	[Id] [nvarchar](max) NULL,
	[Primary_Recruiter_Payout__c] [nvarchar](max) NULL,
	[ts2__Job__c] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Primary_Recruiter_Payout] ([Id], [Primary_Recruiter_Payout__c], [ts2__Job__c]) VALUES (N'a0Q0O00000TE6vlUAD', N'4500', N'a0K2000000TMxIiEAL')
INSERT [dbo].[Primary_Recruiter_Payout] ([Id], [Primary_Recruiter_Payout__c], [ts2__Job__c]) VALUES (N'a0Q2000000RUjTBEA1', N'7000', N'a0K2000000MhoJ9EAJ')
INSERT [dbo].[Primary_Recruiter_Payout] ([Id], [Primary_Recruiter_Payout__c], [ts2__Job__c]) VALUES (N'a0Q0O00000UovDIUAZ', N'0', N'a0K0O00000Up0HEUAZ')
GO
