<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="VCDM" connectionString="Data Source=localhost\MSSQLSRV2017DEV;Network Library=DBMSSOCN;Initial Catalog=VC_DM;User ID=sa;Password=Olala3334;Connection Timeout=1800;"/>
  <add name="OIProd" connectionString="Data Source=dmpfra.vinceredev.com;Network Library=DBMSSOCN;Initial Catalog=OrcanIntelligencePro;User ID=sa;Password=123$%^qwe;Connection Timeout=1800;"/>
  </connectionStrings>
</configuration>